body {
	background-color: #ffffff;
	color: #981ceb;
	font-family: 'Merriweather', serif;
}

.jumbotron {
	background-color: #ffffff;
	margin-bottom: 0;

}

.last {
	background-color: #981ceb;
	color: #ffffff;
}

.jumbotron .container {
	max-width: 960px;
}

h1 {
	font-weight: bold;
	margin-bottom: 35px;
}

p {
	color: #111111;
}

@media screen and (min-width: 768px) {

	.jumbotron {
    	xpadding-top: 100px;
    	xpadding-bottom: 100px;
	}

}

/* Sticky Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    xheight: 60px;
    xline-height: 60px;
    xbackground-color: #f5f5f5;
}

/* Text */

.jumbotron p {
    	font-size: 18px;
    	font-weight: 200;
}

@media screen and (min-width: 768px) {

	.jumbotron .h1, .jumbotron h1 {
    font-size: 85px;
	}

	.jumbotron p {
	font-size: 36px;
	}
}

/* Links */

a, a:visited, a:hover, a:active {
    color: #981ceb;
    text-decoration: none;
    border-bottom: 1px solid #981ceb;
}

.last a, .last a:visited, .last a:hover, .last a:active {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

a.fab {
	border-bottom: none;
}

.btn-default:hover, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: none;
}

/* Button */

.btn-default {
	background-color: #981ceb;
	border: 0;
	color: #ffffff;
	min-width: 250px;
}

	.btn-default:hover,
	.navbar-default .navbar-nav>.active>a:hover {
		background-color: #D32F2F;
		color: #eeeeee;
	}

.btn {
	border-radius: 0;
}
